/* Generics */

html {
  font-family: "Source Sans Pro",Helvetica,sans-serif;
}

body {
  color: #141412;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}

h2 {
  font-size: 30px;
  margin: 25px 0;
}

p {
  margin: 0 0 24px;
}

a {
  color: #ca3c08;
  text-decoration: none;
}
a:visited {
  color: #ac0404;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  color: #ea9629;
  outline: 0 none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
}

hr {
  border: 0 none;
  border-top: 1px dashed grey;
  margin: 0 0 24px;
}



/* Header image and title */

#site-header {
  clear: both;
  font-family: Bitter,Georgia,serif;
  line-height: 1.3;
  position: relative;
}

#site-header #site-header-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 58px 0 10px;
}

#site-header #site-header-description {
  font: italic 300 24px "Source Sans Pro",Helvetica,sans-serif;
  margin: 0;
}

#site-header #site-header-title a,
#site-header #site-header-description a {
  color: #ffffff;
  display: block;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 20px;
  text-decoration: none;
  width: 100%;
}

#site-header #site-header-title:hover,
#site-header #site-header-description:hover {
  color: white;
  text-decoration: underline;
}



/* Header menu */

#main-navigation {
  background-color: #f7f5e7;
  clear: both;
}

ul.nav-menu {
  margin: 0;
  padding: 0 40px 0 0;
}

/* Display the menu horizontally i.o. vertically */
ul.nav-menu li {
  display: inline-block;
  position: relative;
}

/* Shows menu buttons i.o. simple links */
.nav-menu li a {
  color: #141412;
  display: block;
  font-size: 15px;
  line-height: 1;
  padding: 15px 20px;
  text-decoration: none;
}

/* Color difference upon hovering over menu items */
.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
  background-color: #220e10;
  color: #fff;
}

.nav-menu .menu-selected {
  color: #bc360a;
  font-style: italic;
}



/* Article */

article {
  margin: 10px auto 30px auto;
  max-width: 604px;
  width: 100%;
}

.entry-header {
  margin-bottom: 20px;
}

.entry-title {
  font-size: 40px;
}

.entry-title a {
  color: #141412;
}

.entry-title a:hover {
  color: #ea9629;
}

.entry-meta {
  clear: both;
  color: #bc360a;
  display: inline-block;
  font-size: 14px;
  position: relative;
  vertical-align: text-bottom;
}

.entry-meta > span {
  margin-right: 15px;
}

.entry-tag {
  margin: 0 5px 0 0;
}

.icon {
  margin: 0 5px 0 0;
  position: relative;
  top: 3px;
}

.entry-content {
  -moz-hyphens: auto;
  word-wrap: break-word;
}

.entry-content p {
  text-align: justify;
}



/* Figure */

figure {
  margin: auto;
  text-align: center;
}

figcaption {
  color: #220e10;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  margin: 0 0 24px;
}



/* Footer */

footer {
  background-color: #f7f5e7;
  font-size: 0.9em;
  max-width: 1600px;
  width: 100%;
}

footer div {
  clear: both;
  margin: 0 auto;
  max-width: 1080px;
  padding: 10px;
  position: relative;
}
